h1 {
  background-color: green;
  color: white;
}

.stripeRed {
  width: 200px; 
  height: 40px; 
  background-color: red;
  transform: skew(-25deg); 
  -webkit-transform: skew(-25deg) rotate(-25deg);
  margin-bottom: 20px;
}

.stripeBlue {
  width: 200px; 
  height: 40px; 
  background-color: blue;
  transform: skew(-25deg); 
  -webkit-transform: skew(-25deg) rotate(-25deg);
  margin-bottom: 20px;
}